.history-title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5vh;
    font-size: 30px;
}


.history-container {
    display: flex;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
    min-height: 100vh;
}

.history-img{
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
}

.history-date-money {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.history-item {
    display: grid;
    grid-template-columns: 25% 1fr 15% 15%;
    row-gap: 2vh;
}


