* {
    border: 0px;
    margin: 0;
    padding: 0;
    font-family: 'Noto Serif', serif;
}

nav {
    position: fixed;
    background-color: rgba(0,0,0,0.8);
    color: whitesmoke;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 6vh;
    width: 100vw;
}

.nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 50%;
    list-style: none;
}

.nav-list li {
    padding-left: 10px;
}

.title {
    width: 100vw;
    height: 12vh;
    text-align: center;
    padding-top: 6vh;
    font-size: 2em;
    font-weight: bolder;
}

main {
    display: grid;
    grid-template-columns: 10vw 89vw;
    grid-template-rows: auto;
    column-gap: 1vw;
}

.nav-list-container{
    display: flex;
    grid-column: 1/2;
    background-color: white;
    justify-content: flex-start;
   
}

.content-container{
    grid-column: 2/3 ;
    background-color: white;
    display: grid;
    grid-template-columns:  repeat(4, 24%);
    grid-template-rows:  auto auto;
    gap: 1% 1%;
    padding: 20px;
}

.product-img{
    grid-row: 1/2;
    grid-column: 1/2;
    width: 18vw;
    height: auto;
}

.product {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 70% 10% 10% 10%;
    justify-content: center;
    align-items: center;
}

.product-name {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.product-price {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.btn-cart {
    
    background-color: #0071e3;
    color: white;
}

.cart-btn-container{
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cart-menu {
    display: none;
}

.cart-title {
    display: flex;
    width: 100vw;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}



table, th, td {
    border: 1px solid lightgray;
    border-collapse: collapse;
}

th {
    height: 4vh;
    text-align: center;
    vertical-align: center;
    text-decoration: solid;
}
.cart-list-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    width: 80vw;
}

td {
    padding: 10px;
    text-align: center;
}

td img {
    width: 5vw;
}

body {
    overflow-x: hidden;
}

.open {
    display:initial;
    position: absolute;
    top: 6vh;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: white;
}

/* .btn-buy-container{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    height: 10vh;
    align-items: flex-end;
}

.btn-buy-container button{
    width: 10vw;
} */